<div class="welcome">
  <span class="hello"><p>Go there. Find the best passage to hidden locations.</p></span>
  <p>Search for a passage or explore popular passages below.</p>
</div>

<section>
  <span class="banner" id="slideshow">
    <% @randLocations.each do |location| %>
      <% if location.routes.first != nil %>
        <a href="/locations/<%= location.id %>" class="slide" id="slide<%=@slideNumber%>">
          <img src="<%=location.routes.first.img.url%>" alt="">
          <% @slideNumber += 1 %>
          <div>
            <h2><span><%=location.name%></span></h2>
          </div>
        </a>
      <% end %>
    <% end %>
  </span>
</section>
