<section>
  <h2> popular passages </h2>

  <div class="banner">
    <% @randLocations.each do |location| %>
      <% if location.routes.first != nil %>
      <a href="/locations/<%= location.id %>">
        <div>
          <img src="<%=location.routes.first.img.url%>" alt="">
          <h2><span><%=location.name%></span></h2>
        </div>
      </a>
      <% end %>
    <% end %>
  </div>
</section>
