<h2>popular locations</h2>

<div class="banner">
  <% @randLocations.each do |location| %>
    <% if location.routes.first != nil %>
    <a href="/locations/<%= location.id %>">
      <img src="<%=location.routes.first.img%>" alt="">
    </a>
    <% end %>
  <% end %>
</div>
