<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="/ckeditor/ckeditor.js"></script>
  <title>Passage</title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/" class="logo"><img src="/media/p.png" alt="passage"></a></li>

      <li><form action="/locations/search" method="post" class="search">
        <input name="location" type="text" placeholder="Search...">
          <button></button>
      </form></li>

      <% if logged_in? %>
      <li><a href="/"><%= current_user.username %></a></li>
      <li><form action="/session" method="post">
        <input name="_method" type="hidden" value="delete">
      <span class="logout">
        <button>logout</button>
      </span>
      </form></li>
      <% else %>
        <li><a href="/session/new">login</a></li>
        <li><a href="/register">register</a></li>
      <% end %>
    </ul>
  </nav>

    <%= yield %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="/javascripts/index.js"></script>
</body>
</html>
