<h2>ASK PASSERS</h2>
<form action="/locations" method="post">
  <label for="">Username</label>
  <input name="username" type="text">

  <label for="">Location</label>
  <input name="location" type="text">

  <button>ASK PASSERS</button>
</form>
