<section>
  <h2>register</h2>
  <%= @msg %>

  <form action="/register" method="post">
    <label for="">email</label>
    <input name="email" type="text">
    <label for="">username</label>
    <input name="username" type="text">
    <label for="">password</label>
    <input name="password" type="password">
    <button>register</button>
  </form>
</section>
