<section>
  <h2>SHARE YOUR PASSAGE</h2>
    <form action="/locations/<%= @locid %>" method="post" enctype="multipart/form-data" class="passageshare">
      <input name="title" type="text" placeholder="Title">
      <textarea name="description" id="" cols="30" rows="10" placeholder="Share your Passage"></textarea>
      <script>
        CKEDITOR.replace( 'description', {
    			width: '100%',
    			height: '100%'
		    });
      </script>

      <input type="file" name="img" />
      <button>upload</button>
      <button>SHARE PASSAGE</button>
    </form>
</section>
