<h2>ASK PASSERS</h2>
<form action="/locations/<%= params[:id]%>" method="post">
  <label for="">Author</label>
  <input name="username" type="text">

  <label for="">Title</label>
  <input name="title" type="text">

  <label for="">Summary</label>
  <textarea name="description" id="" cols="30" rows="10"></textarea>

  <label for="">Image</label>
  <textarea name="img" id="" cols="30" rows="10"></textarea>

  <button>SHARE PASSAGE</button>
</form>
