<section>
  <h2>ASK PASSERS</h2>
    <form action="/locations/<%= @locid %>" method="post" enctype="multipart/form-data">
      <label for="">Author</label>
      <input name="username" type="text">

      <label for="">Title</label>
      <input name="title" type="text">

      <label for="">Summary</label>
      <textarea name="description" id="" cols="30" rows="10"></textarea>

      <label for="">Image</label>
        <input type="file" name="img" />
        <button>upload</button>
      </form>

      <button>SHARE PASSAGE</button>
    </form>
</section>
