<section>
    <form action="/locations/<%= @locid %>" method="post" enctype="multipart/form-data" class="passageshare">
      <input name="title" type="text" placeholder="Passage Title" class="route-title">
      <textarea name="description" id="" cols="30" rows="10" placeholder="Share your Passage"></textarea>
      <script>
        CKEDITOR.replace( 'description', {
    			width: '100%',
    			height: '100%'
		    });
      </script>
    </br>
      <input type="file" name="img" class="carrierwave" />
      <button class="share">SHARE</button>

    </form>

    <form action="/locations/<%=@locid%>" method="get" class="back">
      <button>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
    </form>

  </section>
