<section>
  <h2>search results</h2>

  <section class="new">

    <% if @results.empty? %>
      <p>There are no search results for your query.</p>
      <p>Request other Passers to provide a passage. </p>
      <section class="new">
          <form action="/locations" method="post">
            <label for="">Location</label>
            <input name="location" type="text">
          </br>
            <button>ASK PASSERS</button>
          </form>
      </section>
    <% else %>
      <% @results.each do |result| %>
        <% if result.routes.first != nil %>
          <a href="/locations/<%= result.id %>">
            <img src="<%=result.routes.first.img.url%>" alt="">
          </a>
        <% elsif result.routes.empty? %>
          <a href="/locations/<%= result.id %>/new">
            <img src="http://alisterpaine.com/wp-content/themes/15zine/library/images/placeholders/placeholder-759x500.png" alt="" width="40%" height="25%">
            <p>Share your Passage</p>
        <% end %>
      <% end %>
  <%end%>

</section>
