
body {
  margin: 0 auto;
  width: 100%;
  font-family: 'Open Sans';
  font-size: 10px;
}

h2 {
  font-family: 'Karla';
  font-size: 24px;
  color: #ee6352;
}

section {
  margin: 0 auto;
  text-align: center;
}

.edit {
  text-align: left;
}


.new img {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}

.banner a h2 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  z-index: 9999;
  transform: translateY(-50%)
}

.banner a {
  /*position: relative;*/
  text-decoration: none;
  vertical-align: middle;
  margin: 0 auto;
  width: 100%;
}

.banner a div {
  position: absolute;
  top: 50%;
  width: 100%;
  margin: 0 auto;

}

.banner a h2 span {
  color: white;
  font: bold 24px 'Karla';
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  margin: 0 auto;
  z-index: 9999;
  width: 100%;
  border-radius:2px;
}

nav {
  margin: 0 auto;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: white;
  height: 80px;
}

nav ul {
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  align-items: center;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

nav ul li a, nav ul li form {
  color: black;
  margin-right:30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  font-size: 11px;
}

nav ul li:first-child {
  margin-right: auto;
  display: block;
}

form {
  display: inline-block;
}

.logo img {
  width: 50px;
  margin-left: 5px;
  margin-top:5px;
}

table {
  margin: 0 auto;
  font-size: 12px;
  text-align: left;
  border-collapse: collapse;
}

th {
  height: 4em;
  margin-top: 2%;
}

tr {
  width: 400px;
}

td {
  padding: 5px 10px;
  margin: 0;
}

table tr td a {
  display:block;
  height:100%;
  width: 100%;
  text-decoration: none;
  color: #0000FF;

}

table tr td img {
  vertical-align: middle;
}


.logout button {
   background:none!important;
   border:none;
   padding:0!important;
   font: inherit;
   border-bottom:0px solid #444;
   cursor: pointer;
   text-decoration: none;
}

.new {
  vertical-align: middle;
}

.thumbnail img {
  width: 4em;
  height: 3em;
}

.thumbnail {
  width: 2em;
  text-align: center;
}

.route-link {
  width: 300px;
  text-align: left;
  font-family: "Open Sans";
  font-size: 16px;
}

label {
  display: block;
}

.vote button {
  width: 20px;
  height: 20px;
  background-color: white;
  background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/492589-200.png');
  border: none;
  background-repeat: no-repeat;
  background-size: 20px;
  vertical-align:middle;
  margin-left: 5px;
}

.search button {
  width: 20px;
  height: 20px;
  background-color: white;
  background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png');
  border: none;
  background-repeat: no-repeat;
  background-size: 20px;
  vertical-align:middle;
  margin-left: 5px;
}

#cke_description {
  font-family: "Open Sans";
  display: block;
}

.carrierwave {
  float: left;
}

.route-title {
  font-size: 24px;
  font-family: "karla";
  padding-bottom: 1em;
  width: 80%;
  padding-left: 10%;
}

.passageshare {
  padding-top: 5em;
  position: absolute;
  top: 5em;
  left: 10%;
  right: 10%;
  width: 80%;
}

.delete {
  padding-top: 5em;
  position: absolute;
  top: 5em;
  right: 10%;
}

.back {
  padding-top: 5em;
  position: absolute;
  top: 5em;
  left: 10%;
}

.subheading {
  font-size: 10px;
  font-family: "Open Sans"
}

.share {
  position: absolute;
  right: 0;
}

.passageshare input {
  display: inline-block;
  margin: 0 auto;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px;
  width: 650px;
}


.passageshare button, .delete button, .back button {
  display: inline-block;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  padding: 0.5em 1em;
  color: white;
  background-color: #ee6352;
  box-shadow: 0 0.1em 0.1em 0 lightgrey;
  font-family: "Karla";
  border-radius: 3px;
  font-size: 16px;
  border: none;
  float: right;
}

.passageshare button:hover {
  background-color: #f18274;
}

.right {
  text-align: right;
}

h2 .popular {
  font-size: 28px;
  text-align: left;
}

.welcome {
  height: 30%;
  width: 80%;
  padding: 0px 10% 5% 10%;
  vertical-align: middle;
}

.hello {
  font-size: 24px;
  font-weight: bold;
  font-family: 'karla';
  color: #ee6352;
}

.slide {
  width:100%;
  height: 66%;
  display: inline;
  position: absolute;
  float: left;
  left: 0;
  overflow: hidden;
}

.slide img {
  width:100%;
  display: inline;
  position: absolute;
  float: left;
  left: 0;
  top: -25%;
}​

div .banner {
  width: 60em;
}

.fa-trash-o  {
  color: white;
}

.list {
  font-style: italic;
  font-size: 20px;
  font-family: "Karla";
  font-weight: 900;
}
