
body {
  margin: 0 auto;
  width: 100%;
  font-family: 'Open Sans';
  font-size: 12px;
}

h2 {
  font-family: 'Karla';
  font-size: 24px;
  color: #ee6352;
  margin: 0 auto;
}

section {
  text-align: center;
}

#slideshow {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 100%;
  height: 30em;
}

.edit {
  text-align: left;
}

.location a img {
  width: 400px;

}


.new img {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}

.banner a h2 {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  z-index: 200;
  transform: translateY(-150%)
}

.banner a {
  /*position: relative;*/
  text-decoration: none;
  vertical-align: middle;
  margin: 0 auto;
  width: 100%;
}

.banner a div {
  position: absolute;
  top: 50%;
  width: 100%;
  margin: 0 auto;

}

.banner a h2 span {
  color: white;
  font: bold 24px 'Karla';
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  margin: 0 auto;
  z-index: 9999;
  width: 100%;
  border-radius:2px;
}

nav {
  margin: 0 auto;
  list-style-type: none;
  margin: 2em auto 0em auto;
  padding: 0;
  overflow: hidden;
  background-color: white;
  height: 80px;
}

nav ul {
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  align-items: center;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

nav ul li a, nav ul li form {
  color: black;
  margin-right:30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  font-size: 11px;
  color: #0000FF;
}

nav ul li:first-child {
  margin-right: auto;
  display: block;
}

form {
  display: inline-block;
}

.logo img {
  width: 50px;
  margin-left: 5px;
  margin-top:5px;
}

table {
  margin: 3em auto;
  text-align: left;
  border-collapse: collapse;
}

th {
  height: 4em;
  margin-top: 2%;
}

tr {
  width: 400px;
}

td {
  padding: 5px 10px;
  margin: 0;
}

.empty-row {
  height: 1em;
}

table tr td a {
  display: inline-block;
  text-decoration: none;
  color: #0000FF;

}

table tr td img {
  vertical-align: middle;
}


.log button {
   background:none!important;
   border:none;
   padding:0 1em !important;
   font: inherit;
   border-bottom:0px solid #444;
   cursor: pointer;
   text-decoration: none;
   color: #0000FF;
}


.reminder-log button {
   background:none!important;
   border:none;
   padding:0 !important;
   font: inherit;
   border-bottom:0px solid #444;
   cursor: pointer;
   text-decoration: none;
   color: #0000FF;
}

.reminder-log {
  font-size: 11px;
}

.new {
  vertical-align: middle;
}

.hide-margin h2 {
  margin: 0;
}

.thumbnail img {
  width: 4em;
  height: 3em;
}

.thumbnail {
  width: 5em;
  text-align: center;
}

.route-link {
  width: 300px;
  text-align: left;
  font-family: "Open Sans";
  font-size: 16px;
}

label {
  display: block;
}

/*.vote button {
  width: 20px;
  height: 20px;
  background-color: white;
  border: none;
  background-repeat: no-repeat;
  background-size: 20px;
  vertical-align:middle;
  margin-left: 5px;
}*/

.search button {
  width: 20px;
  height: 20px;
  background-color: white;
  background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png');
  border: none;
  background-repeat: no-repeat;
  background-size: 20px;
  vertical-align:middle;
  margin-left: 5px;
}

#cke_description {
  font-family: "Open Sans";
  display: block;
}

.carrierwave {
  float: left;
}

.route-title {
  font-size: 24px;
  font-family: "karla";
  padding-bottom: 1em;
  width: 80%;
  padding-left: 10%;
}

.register input, .login input {
  font-size: 24px;
  font-family: "karla";
  width: 80%;
  padding-left: 10%;
  text-align: center;
  margin: 0 auto;
  padding-left: 0;
  border: 0;
  border-bottom: 1px lightgrey solid;
  font-size: 20px;
  padding: 0.5em;
}

.passageshare {
  padding-top: 5em;
  position: absolute;
  top: 5em;
  left: 10%;
  right: 10%;
  width: 80%;
}

.delete {
  padding-top: 5em;
  position: absolute;
  top: 5em;
  right: 10%;
}

.back {
  padding-top: 5em;
  position: absolute;
  top: 5em;
  left: 10%;
}


.detail {
  font-size: 12px;
  color: #ee6352;

}

.subheading {
  font-size: 12px;
  font-family: "Open Sans";
  padding-left: 1em;
  color: #0000FF;
}

.share {
  position: absolute;
  right: 0;
}

.passageshare input, .request input {
  display: inline-block;
  margin: 0 auto;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px;
  width: 650px;
}

.request .route-title {
  text-align: center;
  margin: 0 auto;
  padding-left: 0;
  font-size: 20px;
  border-bottom: 1px lightgrey solid;
}

#get-started button {
  clear: both;
}

#get-started {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(253, 231, 76, 0.9);
  z-index: 300;
  display: none;
}

.start, .register, .login {
  width: 30em;
  height: 30em;
  background-color: rgba(67, 146, 241, 1);
  z-index: 300;
  top: 50%;
  left: 50%;
  position: fixed;
  margin-top: -15em;
  margin-left: -15em;
}

.start {
  display: block;
}

.register, .login {
  display:none;
}

.start h2, .register h2, .login h2 {
  font-style: italic;
  font-size: 64px;
  padding: 0.5em;
  color: white;
  position: absolute;
  left:5%;
}

#fix-start {
  position: absolute;
  left: 28%;
  top: 40%;
  text-align:center;
}

h3 {
  font-style: italic;
  font-size: 24px;
  padding: 0.5em;
  color: white;
  margin: 0 auto;
}

.start p, .register p, .login p {
  color: white;
  font-size: 12px;

}

.start button, .register button, .login button {
  width: 10em;
  display: block;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  padding: 0.5em 1em;
  color: white;
  background-color: #ee6352;
  font-family: "Karla";
  border-radius: 3px;
  font-size: 16px;
  border: none;
  margin: 0.5em auto 0;
}


.close button {
  width: 1em !important;
  display: block;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  padding: 0 !important;
  color: white;
  background-color: #ee6352;
  font-family: "Karla";
  border-radius: 3px;
  border: none;
  margin: 0 !important;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  color: white;
}

.passageshare button, .delete button, .back button, .request button{
  display: inline-block;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  padding: 0.5em 1em;
  color: white;
  background-color: #ee6352;
  box-shadow: 0 0.1em 0.1em 0 lightgrey;
  font-family: "Karla";
  border-radius: 3px;
  font-size: 16px;
  border: none;
  float: right;
}

.passageshare button:hover,
.delete button:hover,
.back button:hover,
.request button:hover,
.start button:hover,
.register button:hover,
.login button:hover,
.close button:hover {
  background-color: #f18274;
}

.right {
  text-align: right;
  font-size: 12px;
  display:none;
}

h2 .popular {
  font-size: 28px;
  text-align: left;
}

.welcome {
  height: 30%;
  width: 80%;
  padding: 5% 10%;
  vertical-align: middle;
}

.hello {
  font-size: 24px;
  font-weight: bold;
  font-family: 'karla';
  color: #ee6352;
}

.slide {
  width:100%;
  height: 30em;
  display: inline;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.slide img {
  width:100%;
  display: inline;
  height: 100%;
}​


div .banner {
  width: 100%;
  display: block;
  height: 30em;
}

.fa-trash-o  {
  color: white;
}

.list {
  font-style: italic;
  font-size: 20px;
  font-family: "Karla";
  font-weight: 900;
  color: #0000FF;
}
