body {
  margin: 0 auto;
  width: 100%;
  font-family: 'Open Sans';
  font-size: 10px;
}

section {
  margin: 0 auto;
  text-align: center;
}

table tr .notbody {
  font-size: 9px;
}

.new img {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}

.banner a h2 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  z-index: 9999;
  transform: translateY(-50%)
}

.banner a {
  /*position: relative;*/
  text-decoration: none;
  vertical-align: middle;
  margin: 0 auto;
  width: 100%;
}

.banner a div {
  position: absolute;
  top: 50%;
  width: 100%;
  margin: 0 auto;

}

.banner a h2 span {
  color: white;
  font: bold 24px 'Open Sans';
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  margin: 0 auto;
  z-index: 9999;
  width: 100%;
  border-radius:2px;
}

nav {
  margin: 0 auto;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: white;
  height: 80px;
}

nav ul {
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  align-items: center;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

nav ul li a, nav ul li form {
  color: black;
  margin-right:30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  font-size: 11px;
}

nav ul li:first-child {
  margin-right: auto;
  display: block;
}

form {
  display: inline-block;
}

.logo img {
  width: 50px;
  margin-left: 5px;
  margin-top:5px;
}

table {
  margin: 0 auto;
  font-size: 12px;
  text-align: left;
  border-collapse: collapse;
}

th {
  height: 4em;
  margin-top: 2%;
}

tr {
  width: 400px;
}

td {
  padding: 5px 10px;
  margin: 0;
}

table tr td a {
  display:inline-block;
  height:100%;
  text-decoration: none;
}

table tr td img {
  vertical-align: middle;
}


.logout button {
   background:none!important;
   border:none;
   padding:0!important;
   font: inherit;
   border-bottom:0px solid #444;
   cursor: pointer;
   text-decoration: none;
}

.new {
  vertical-align: middle;
}

.nottext {
  width: 50px;
  text-align: center;
  background-color: #00C4C0;
}

.text {
  width: 300px;
  text-align: left;
}

label {
  display: block;
}

.vote button {
  width: 20px;
  height: 20px;
  background-color: white;
  background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/492589-200.png');
  border: none;
  background-repeat: no-repeat;
  background-size: 20px;
  vertical-align:middle;
  margin-left: 5px;
}

.search button {
  width: 20px;
  height: 20px;
  background-color: white;
  background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png');
  border: none;
  background-repeat: no-repeat;
  background-size: 20px;
  vertical-align:middle;
  margin-left: 5px;
}

.passageshare input {
  width: 400px;
  display: block;
  margin: 0 auto;
}

textarea {
  width: 400px;
  margin: 0 auto;
  display: block;
  outline: none;
  border: 1px solid #d0d6e0;
  vertical-align: text-top;
}

.passageshare button {
  display: inline-block;
}

.right {
  text-align: right;
}

h2 .popular {
  font-size: 28px;
  text-align: left;
}

.welcome {
  height: 30%;
  width: 80%;
  padding: 0px 10% 10% 10%;
  vertical-align: middle;
}

.hello {
  font-size: 24px;
  font-weight: bold;
}

.slide {
  width:100%;
  height: 66%;
  display: inline;
  position: absolute;
  float: left;
  left: 0;
  overflow: hidden;
}

.slide img {
  width:100%;
  display: inline;
  position: absolute;
  float: left;
  left: 0;
  top: -25%;
}​

div .banner {
  width: 60em;
}
